h1{
    margin-left: 20px;
}

.nav-link{
    margin-left: 20px;
    width: 90px;
    border-radius: 10px;
    
    
}

.navbar-nav{
    padding: 20px;
    margin-left: 500px;
    
}

.nav-link:hover{
    background-color: rgb(5, 197, 197);
}



