<!-- <router-outlet></router-outlet> -->
<app-users></app-users>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <h2 style="color: rgb(44, 180, 204);">User Table</h2>
    <button class="btn bg-secondary text-white" (click)="onAddUser();">Add user</button>
    <table class="table table-striped">
    <tr>
        <th>S.N</th>
        <th>id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Age</th>
        <th>Class</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let data of tableData; let i= index;">
        <td>{{i+1}}</td>
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.address}}</td>
        <td>{{data.age}}</td>
        <td>{{data.class}}</td>

        <td>
            <!-- <input type="button" class="btn bg-secondary text-white" value="edit" (click)="onEdit();"> -->
            <button  class="btn bg-secondary text-white" value="edit" (click)="onEdit(data.id)"> <i class="fa fa-pencil-square"></i> Edit
            </button>
            </td>
            <td>
            <!-- <input type="button" class="btn bg-secondary text-white"value="delete"(click)="onDelete();"> -->
            <button  class="btn bg-secondary text-white" value="delete" (click)="onDelete()" ><i class="fa fa-trash"></i> Delete</button>
        </td>  
        <td>
            <!-- <input type="button" class="btn bg-secondary text-white"value="delete"(click)="onDelete();"> -->
            <button  class="btn bg-secondary text-white" value="view" (click)="onView(data.id, data.name,data.age)"><i class="fa fa-eye"></i>View</button>
        </td>  
    </tr>
</table>
</div>
